.anomaly {
    font-weight: bold;
}

h2 {
    color: #222;
    font-family: 'Segoe UI', sans-serif;
}

.table-hover tbody tr:hover {
    background-color: #f0f8ff;
    transition: background-color 0.3s;
}

.badge {
    font-size: 0.9rem;
    padding: 0.4em 0.7em;
}

.card {
    border-radius: 12px;
}

#no-anomalies {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}
